/* Geral */

* {
  font-family: "Roboto", sans-serif;
}

html,body {
  height: 100%;
  background-color: #ECEFF1;
  transition: .3s;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none !important;
  color: #000000;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* Tema escuro */



.dark,
.dark header {
  background-color: #263238;
  color: #fff;
}

.claro-escuro input {
  margin: 0 0 0 16px;
  display: none;
}

.dark .bi-sun {
  display: block;
}

.dark .bi-moon {
  display: none;
}

.dark .navbar-nav a {
  color: #ffffff !important;
}

.dark #topo .contato {
  border-color: #ffffff;
}

.dark #topo .contato a {
  color: #ffffff;
}


/* Navbar */

#topo {
  padding: 16px 0;
  background-color: rgba(0,0,0,.03);
  margin: 0 0 64px 0;
}

#topo .navbar-nav {
  margin: 0 auto;
}

#topo .navbar-nav li {
  margin: 0 8px;
}

#topo .navbar-nav a {
  font-weight: 500;
}

#topo .contato {
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 21px;
}

#topo .contato a {
  /* color: #000000; */
}

#topo .bi {
  font-size: 20px;
  cursor: pointer;
  margin: 0 0 0 16px;
}

.bi-sun {
  display: none;
}

/* Destaques */

#destaques h1 {
  text-align: center;
  font-size: 64px;
}